@import "tailwindcss";

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root {
  height: 100%;
}

body {
  font-family: system-ui, -apple-system, 'Segoe UI', sans-serif;
  background-color: #f3f4f6;
  color: #111827;
  -webkit-font-smoothing: antialiased;
}

/* remove number input arrows */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
